{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
    <form method = "POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete a Car</legend>
            <div class="form-group">
                {{ form.make.label(class="form-control-label") }}

                {% if form.make.errors %}
                    {{ form.make(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.make.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.make(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.price.label(class="form-control-label") }}

                {% if form.price.errors %}
                    {{ form.price(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.price.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.price(class="form-control form-control-lg") }}
                {% endif %}
            </div>

        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    </div>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Make</th>
            <th scope="col">Body Style</th>
            <th scope="col">Fuel Type</th>
            <th scope="col">Horse Power</th>
            <th scope="col">City Mileage</th>
            <th scope="col">Price</th>

        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
        <tr>
            <td>{{ post.make }}</td>
            <td>{{ post.bodystyle }}</td>
            <td>{{ post.fueltype }}</td>
            <td>{{ post.horsepower }}</td>
            <td>{{ post.citympg }}</td>
            <td>{{ post.price }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
      
{% endblock content %}